<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Laura-API</title>
    <meta name="description"content="uma api rest 100% profissional e confiável para os seus negócios, aqui você encontrará diversas apis de diferentes conteúdos."/>
    <link rel="icon" href="https://telegra.ph/file/980cea6cb4f8e5a55a6ab.jpg" type="image/x-icon">

    <link href="https://rsms.me/inter/inter-ui.css" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <link rel="stylesheet" href="/css/blue.css" id="theme-color">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand heading-black" href="https://pedrozz-api.onrender.com/femeninotrava?apikey=pedrozz13">LAURA - API</a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link page-scroll text-primary" href="/docs"><i class="fa fa-home"></i>  .Voltar</a></li>

          </ul>
        </div>
      </div>
    </nav>
  </header>

  <section class="py-5 bg-dark" id="pricing">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto text-center">
          <h2 class="heading-black text-primary">Tabela de preços</h2>
          <p class="text-muted lead" style="font-style: italic;">Selecione a opção que mais cabe no seu bolso</p>
        </div>
      </div>
      <div class="row pt-5">
        <div class="col-12 mx-auto">
          <div class="card-deck pricing-table">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title pt-3">PLANO GRÁTIS</h3>
                <h2 class="card-title text-primary mb-0">0 R$</h2>
                <div class="text-muted font-weight-medium mt-2">Por tempo indeterminado.</div>
                <ul class="list-unstyled pricing-list">
                  <li> 100 request diário</li>
                  <li>Sem Suporte na utilização da API.</li>
                </ul>
              <a href="/" class="btn btn-info" class="btn btn-info">Registrar-se</a>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h3 class="card-title pt-3">Premium</h3>
                <h2 class="card-title text-info mb-0">R$ 30$</h2>
                <div class="text-muted font-weight-medium mt-2">1 mês de uso</div>
                <ul class="list-unstyled pricing-list">
                  <li>Limit 20.000 / requests</li>
                  <li>apiKey Customizada</li>
                  <li>Sem Suporte na utilização da API.</li>
                </ul>
                <a href="https://wa.me/556199317165/?text=quero obter a key de 20$" class="btn btn-info" class="btn btn-info">Comprar Agora</a>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h3 class="card-title pt-3">Gold</h3>
                <h2 class="card-title text-info mb-0">R$ 40</h2>
                <div class="text-muted font-weight-medium mt-2">2 mês de uso</div>
                <ul class="list-unstyled pricing-list">
                  <li>ApiKey com requests ilimitado.</li>
                  <li>ApiKey personalizada.</li>
                  <li>Suporte na utilização. ( 24horas )</li>
                  <li>Uma base para fazer sua api</li>
                </ul>
                <a href="https://wa.me/556199317165/?text=quero obter a key de 35$" class="btn btn-info">Comprar Agora</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="py-2">
    <div class="container text-muted text-center">
      <a href="https://youtube.com/@Pedrozz_Mods?si=Ubv-FVOKM81KdcdR" target="_blank">2024 pedrozz_Mods - Todos os direitos reservados</a>
    </div>
  </footer>

  <div class="scroll-top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
  </div>



  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
</body>
</html>
